@media (max-width: 600px) {
    nav li a {
        float: left;
        font-size: 16px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

@media (min-width: 320px) and (max-width: 374px){
    html{
        font-size: 12px;
    }

    .about-detail {
        width: 100%;
        left: 0%;
        color: #fff;
    }

    .about-detail p{
        font-size: .8rem;
    }

    .about-detail h2 {
        text-align: center;
        margin: 5px;
    }

    .social-area {
        left: 30%;
    }

    .homepage-description {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 30%;
        left: 15%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    html {
        font-size: 12px;
    }

    .about-detail {
        left: 0%;
        width: 100%;
        position: relative;
        color: #fff;
    }

    .about-detail p {
        font-size: .9rem;
    }

    .social-area {
        left: 35%;
    }

    .homepage-description {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

@media (min-width: 426px) and (max-width: 576px){
    html {
        font-size: 13px;
    }
    .about-detail p {
        font-size: .9rem;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    html {
        font-size: 16px;
    }
    .about-detail p {
        font-size: .9rem;
    }

    .about-detail {
        left: 3%;
        top: 10%;
        width: 100%;
        position: relative;
        color: #fff;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    html {
        font-size: 17px;
    }
    .about-detail p {
        font-size: .9rem;
    }

    .about-detail {
        left: 3%;
        top: 10%;
        width: 100%;
        position: relative;
        color: #fff;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    html {
        font-size: 18px;
    }
    .about-detail p {
        font-size: .9rem;
    }

    .about-detail {
        left: 5%;
        top: 10%;
        width: 100%;
        position: relative;
        color: #fff;
    }
}
